# Introduction to Python

 By Daniel T. Quaye


## Contents:

- Basics of coding in Python
- Objects
- Data manipulation

We want to have a general look at Python and some basic concepts underlying the more advanced analysis to be performed during the in-person and online sessions.

## Coding Basics
### Python as a Calculator

In [2]:
1+5

6

In [3]:
25/10

2.5

In [4]:
4.5 * 6

27.0

### Variables 

- Used to store information / objects. 
- '=' used for variable assignment
- Important to use meaningful names

### Object Types

#### Type 1

1. String: 'a', '23.5', "good", "Hello world!", "TRUE"
2. Integer: 0, 1, 2, 3
3. Float: 12.4, 30.5, 
4. Logical: True/False

##### They can be used together with the operators below for data manipulation

* '=='  'and'  'or'  '=!'  '>='  '<'

#### Type 2

Dimension |Homogeneous |Heterogeneous
----------|------------|------------- 
1-d       |vector      |list
2-d       |matrix      |dataframe
n-d       |array       |

### Vectors

In [5]:
days = ('sat','mon','sun','wed')      #store the object / value
days                                  #display the object

('sat', 'mon', 'sun', 'wed')

In [6]:
v1 = [10,20,30,40,50] 
v1

[10, 20, 30, 40, 50]

In [7]:
Days                                  #Python is case sensitive

NameError: name 'Days' is not defined

### List

In [8]:
list_1 = [10,20,30,'mon','sun','wed']
list_1

[10, 20, 30, 'mon', 'sun', 'wed']

### Array

In [9]:
M1 = [[1, 4, 5], 
    [-5, 8, 9]]
M1

[[1, 4, 5], [-5, 8, 9]]

In [10]:
# Import numpy library
import numpy as np

A = np.array([[1.1, 2, 3], [3, 4, 5]])      # Array of floats
A

array([[1.1, 2. , 3. ],
       [3. , 4. , 5. ]])

### Dataframe

In [11]:
# Import pandas library
import pandas as pd
 
# create a list of lists
data = [['tom', 18], ['nick', 25], ['chris', 10]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
 
# print dataframe.
df

    Name  Age
0    tom   18
1   nick   25
2  chris   10

### Check Variable Type

In [12]:
v1 = 10 

type(v1)

int

In [13]:
v2 = 456.78

type(v2)

float

In [14]:
type(A)

numpy.ndarray

In [15]:
type(df)

pandas.core.frame.DataFrame

### Indexing/ Subsetting

- index of the first element is 0
- can be done with positive or negative numbers

In [16]:
list_1[0]              #positive indexing

10

In [17]:
list_1[-1]            #negative indexing

'wed'

In [18]:
df.Name[1]            #index an element in a specific column of a dataframe

'nick'

### Conditional Statements

### if statement

In [19]:
x = 53                             
y = 500

if y > x:
  print("y is greater than x")      #important to indent

y is greater than x

### elif

In [20]:
x = 53                             
y = 500

if x == y:
  print("x is equal to y")
elif x < y:                        #if previous conditions are false, then do this instead
  print("x is less than y")

x is less than y

### else

In [21]:
x = 53
y = 500

if x > y:
  print("x is greater than y")
elif x == y:
  print("x and y are equal")
else:                               #deals with anything not captured by preceding conditions.
  print("x is less than y")

x is less than y

In [22]:
# shorthand if ...else

if y > x: print("y is greater than x")          # handy if executing a single statement

y is greater than x

### for loop

In [23]:
v3 = [10,20,30,40,50] 

#iterating over a list
for i in v3:                
    print (i == v3[2])       # looks a bit complex here :)

False
False
True
False
False

In [24]:
sports = ["football", "baseball", "volleyball"]     

for x in sports:
  if x == "baseball": 
        print(x)

baseball

### <font color='red'>Google is your friend; think about what you want to do, translate it into words and search in google ..+ python (Stackoverflow very good)</font>