# Introduction to Python

### By Daniel T. Quaye


### Contents:

- Tutorial expectations
- The Python language
- Setting up Python environment
- Basics of coding in Python

We want to have a general look at Python and some basic concepts underlying the more advanced analysis done in previous sessions!

## My Hope

- Get familiar with Python
- Quickly perform simple tasks in Python
- Start using Python as your tool for data science

## Python?

- A programming language. Others like R, Java, C etc.
- Open source - free with large community support
- Easy to read and write code (more or less like plain English)

## Setting up!

- Cloud computing the way to go but...
- To setup locally, download Anaconda Navigator (instructions available in the schedule)

### Running Python 
 
 - Interpreter mode; using a terminal/command line
 - Scripting; 
              1. IDEs 
              2. JupyterLab or notebook

## Coding Basics!
### Python as a Calculator

In [62]:
1+5

6

In [63]:
25/10

2.5

In [64]:
4.5 * 6

27.0

### Variables 

- Used to store information. 
- '=' used for variable assignment
- Important to use meaningful names

### Data Types!
#### Type 1

1. String: 'a', '23.5', "good", "Hello world!", "TRUE"
2. Integer: 1, 2, 3
3. Float: 12.4, 30.5, 
4. Logical: True/False

##### They can be used together with the operators below for data manipulation

* '=='  'and'  'or'  '=!'  '>='  '<'

#### Type 2

Dimension |Homogeneous |Heterogeneous
----------|------------|------------- 
1-d       |vector      |list
2-d       |matrix      |dataframe
n-d       |array       |

### Vectors

In [65]:
days = ['sat','mon','sun','wed'] 
days

['sat', 'mon', 'sun', 'wed']

In [66]:
v1 = [10,20,30,40,50] 
v1

[10, 20, 30, 40, 50]

### List

In [67]:
list_1 = [10,20,30,'mon','sun','wed']
list_1

[10, 20, 30, 'mon', 'sun', 'wed']

### Matrix

In [68]:
M1 = [[1, 4, 5], 
    [-5, 8, 9]]
M1

[[1, 4, 5], [-5, 8, 9]]

In [69]:
import numpy as np

A = np.array([[1.1, 2, 3], [3, 4, 5]]) # Array of floats
A

array([[1.1, 2. , 3. ],
       [3. , 4. , 5. ]])

### Dataframe

In [70]:
# Import pandas library
import pandas as pd
 
# create a list of lists
data = [['tom', 18], ['nick', 25], ['juli', 10]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
 
# print dataframe.
df

   Name  Age
0   tom   18
1  nick   25
2  juli   10

### Indexing/ Subsetting

- index of the first element is 0
- can be done with positive or negative numbers 
- can be done with comparison operators

In [71]:
list_1[0]

10

In [72]:
df.Name[1]

'nick'

In [73]:
list_1[-1]

'wed'

In [74]:
for i in v1:
    print (i == v1[2])       #looks a bit complex here :)

False
False
True
False
False

### <font color='red'>Google is your friend; think about what you want to do, translate it into words and search in google ..+ python (Stackoverflow very good)</font>